<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">    
        <li><a href="/">Kategorie</a></li>
        <li><a href="/sladke/">Sladké</a></li>
        <li><a href="/slane/">Slané</a></li>
        <li><a href="/salaty/">Saláty</a></li>
        <li><a href="/pomazanky/">Pomazánky</a></li>
        <li><a href="/polevky/">Polévky</a></li>
        <li><a href="/napoje/">Nápoje</a></li>
        <li><a href="/cukrovi/">Cukroví</a></li>
      </ul>
    </nav>
  </div>
</header>
