<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">    
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">Abecedně</a>
        </li>
        <li>
          <a href="{{ '/sladke/' | prepend: site.baseurl }}">Sladké</a>
        </li>
        <li>
          <a href="{{ '/slane/' | prepend: site.baseurl }}">Slané</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
